# dependencies
/node_modules
/.pnp
.pnp.js
.pnpm-store

# testing
/coverage
/playwright-report/
/test-results/

# next.js
/.next/
/out/
/build

# environment
.env*.local
.nvmrc

# various
.DS_Store
*.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# google credentials
google-credentials.json

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# editor
.vscode/
.roo/
.idea/

# sqlite
*.db
*.db-journal